- name: Verifica existência do repo (backend)
  stat:
    path "{{ backend_deploy_dir }}/.git"
  register: repo_exists

- name: Clone (backend)
  git:
    repo: "{{ backend_git_repo }}"
    dest: "{{ backend_deploy_dir }}"
    version: "{{ backend_git_version }}"
    force: yes
  when: repo_exists.stat.exists

- name: Pull de mudanças (backend)
  git:
    repo: "{{ backend_git_repo }}"
    dest: "{{ backend_deploy_dir }}"
    version: "{{ backend_git_version }}"
    force: yes
  when: repo_exists.stat.exists

- name: Permissões diretório de deploy (backend)
  file:
    path: "{{ backend_deploy_dir }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    recurse: yes

- name: Verifica existência do repo (frontend)
  stat:
    path "{{ frontend_deploy_dir }}/.git"
  register: repo_exists

- name: Clone (frontend)
  git:
    repo: "{{ frontend_git_repo }}"
    dest: "{{ frontend_deploy_dir }}"
    version: "{{ frontend_git_version }}"
    force: yes
  when: repo_exists.stat.exists

- name: Pull de mudanças (frontend)
  git:
    repo: "{{ frontend_git_repo }}"
    dest: "{{ frontend_deploy_dir }}"
    version: "{{ frontend_git_version }}"
    force: yes
  when: repo_exists.stat.exists

- name: Permissões diretório de deploy (frontend)
  file:
    path: "{{ frontend_deploy_dir }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    recurse: yes
