- name: Instalação de pacotes necessários
  apt:
    name:
      - git
      - curl
      - nodejs
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Instalação de pacotes necessários RHEL
  yum:
    name:
      - git
      - curl
      - nodejs
    state: present
  when: ansible_os_family == "RedHat"

- name: Criação de diretório de deploy (backend)
  file:
    path: "{{ backend_deploy_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'

- name: Criação de diretório de deploy (frontend)
  file:
    path: "{{ frontend_deploy_dir }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'
