name: Integração e deploy para produção

on:
  push:
    branches:
      - container_main
  pull_request:
    branches:
      - container_main

env:
  # env Container Docker
  DOCKER_IMG_NAME: asrh-backend
  DOCKER_HUB_UNAME: ${{ secrets.DOCKER_HUB_UNAME }}
  # DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}  # Uso direto com secrets

  # env deploy com SSH
  SSH_DEPLOY_HOST: ${{ secrets.SSH_DEPLOY_HOST }}
  SSH_DEPLOY_UNAME: ${{ secrets.SSH_DEPLOY_UNAME }}
  # SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }} # Uso direto com secrets

  # env servidor MySQL
  MYSQL_ROOT_PASSWORD: root
  MYSQL_DATABASE: asrh_data
  MYSQL_USER: test_user
  MYSQL_PASSWORD: test_password

  # env Aplicação
  DB_HOST: 127.0.0.1
  DB_PORT: 3306
  DB_USERNAME: test_user
  DB_PASSWORD: test_password
  DB_NAME: asrh_data

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: ${{ env.MYSQL_ROOT_PASSWORD }}
          MYSQL_DATABASE: ${{ env.MYSQL_DATABASE }}
          MYSQL_USER: ${{ env.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ env.MYSQL_PASSWORD }}
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    steps:
      - name: Checar código do repositório
        uses: actions/checkout@v4

      # Configuração do Node versão 18
      - name: Configurar Node.JS
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          registry-url: 'https://npm.pkg.github.com'

      # Instalação de dependências do NPM
      - name: Instalar dependências
        run: npm install --force

      # Aguardar MySQL
      - name: Aguardar MySQL
        run: |
          sudo apt update -y
          sudo apt-get install -y mysql-client
          mysqladmin ping -h 127.0.0.1 -P 3306 -u test_user -ptest_password --wait=30 --count=10

      # Rodar testes de lógica
      - name: Rodar testes Jest
        run: npm test
        env:
          DB_HOST: ${{ env.DB_HOST }}
          DB_PORT: ${{ env.DB_PORT }}
          DB_USERNAME: ${{ env.DB_USERNAME }}
          DB_PASSWORD: ${{ env.DB_PASSWORD }}
          DB_NAME: ${{ env.DB_NAME }}

      # # Rodar testes de requisição da API
      # - name: Rodar teste Jest e2e
      #   run: npm test:e2e
      #   env:
      #     DB_HOST: ${{ env.DB_HOST }}
      #     DB_PORT: ${{ env.DB_PORT }}
      #     DB_USERNAME: ${{ env.DB_USERNAME }}
      #     DB_PASSWORD: ${{ env.DB_PASSWORD }}
      #     DB_NAME: ${{ env.DB_NAME }}

  containers:
    runs-on: ubuntu-latest
    needs: [publish]
    steps:
      - name: Chechout do código
        uses: actions/checkout@v4

      - name: Configurando Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_UNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Extração de Metadados
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_HUB_UNAME }}/${{ env.DOCKER_IMG_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}},{{minor}}
            type=sha,prefix={{branch}}-

      - name: Build e Push da Imagem Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: ubuntu-latest
    needs: [publish]
    steps:
      # Realizar o deploy da versão (PULL)
      - name: Fazer deploy (SSH remoto)
        uses: appleboy/ssh-action@v0.1.0
        with:
          host: ${{ env.SSH_DEPLOY_HOST }}
          username: ${{ env.SSH_DEPLOY_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /opt/asrh/asrh-backend
            docker-compose pull
            docker-compose restart
